body {
    text-align: center;
}

form {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: orange;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.error {
    color: red;
    font-size: 14px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#error-message {
    color: red;
}

#resultado {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: orange;
}
